/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
   
}
.container{
    max-width: 1050px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px;
}
li, a{
    text-decoration: none;
    list-style: none;
}
.d-flex{
    display: flex;
}
:root{
    --primary-color: rgba(150, 187, 124, 1);
}
.primary_button{
    background-color: var(--primary-color);
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    color: white;
}

/* common styles */

/* header part styles start */
.header_part{
    position: relative;
    
    
}
.header_part::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100px;
    background-color: orange;
    border-bottom-right-radius: 30px;
}
.header_part::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 120px;
    background-color: orange;
    border-bottom-left-radius: 30px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.nav_item{
    margin-right: 20px;
    align-items: center;
}
.brand_s{
    color: red;
}
.brand_title{
    font-size: 2rem;
    font-weight: 700;
}
.nav_item{
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.583);
    transition: all linear 0.3s;
}
.nav_item:hover{
    color: black;
}

/* header part styles end */

/* banner part styles start */

.banner_part{
    justify-content: space-between;
    align-items: center;
}

.banner_images img{
    width: 100%;
    height: auto;
}
.banner_text > h6{
    font-size: 1rem;
    color: var(--primary-color);
    padding: 10px 0px;
}
.banner_text >h1{
    font-size: 4rem;
    font-weight: 700;
}
.banner_text > p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.447);
    letter-spacing: 0.1rem;
    padding-right: 10rem;
    margin: 20px 0px;
}


/* banner part styles end */

/* course part styles start */

.course{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin:70px 0px;
}
.course >h4{
    font-size: 1rem;
    color: var(--primary-color);
}
.course > h2{
    font-size: 2rem;
    font-weight: 700;
}
.course > p{
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
}
.course > img{
    width: 100%;
}

/* subcription section styles start */

.sub_card_text{
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
}

.sub_card_text > h4{
    font-size: 1rem;
    color: var(--primary-color);

}
.sub_card_text> h2{
    font-size: 2rem;

}
.sub_card_text> p{
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    
}
.subcription_card{
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: start;
    padding: 10px;
    transition: all linear 0.5s;
   
}
.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 0px;
}
.subcription_card> h2{
    font-size: 2rem;
    font-weight: 700;
}
.subcription_card>p{
    text-align: center;
    color: #918b8b;
    font-size: 1rem;
}
.subcription_card button{
    width: 100%;
}
.subcription_card>h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.subcription_card>h6{
    font-size: 1rem;
    color: rgba(142, 194, 242, 1);
}
.subcription_card{
    box-shadow: 10px 10px 20px 10px  rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.subcription_card_active_color{
    background-color: rgba(0, 0, 0, 0.797);
    color: #fff;
}

.subcription_card:hover{
    background-color: rgba(0, 0, 0, 0.797);
    color: #fff;
}